# dependencies
/node_modules

# local env files
/backend/config/config.env

# sealed secrets (chứa API key)
setup-sealed-secrets.ps1
setup-sealed-secrets.sh
kubeseal.exe
kubeseal
pub-cert.pem
raw-secret.yaml

# port-forward logs
*.log
logs/